.container-cont {
    padding-left: 20%;
    padding-right: 20%;
}

.container-cont h1 {
    bottom: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    background-color: rgba(57, 59, 61, 0.678);
    color: white;
}

.Text {
    padding: 20px;
}

#container-imgs {
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.bgc {
    padding: 20px;
}

#mainImg {
    width: 100%;
    height: auto;
}

.ImgHotels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.ImgHotels img {
    width: calc(50% - 10px); /* Ajuste para dos imágenes por fila con un espacio de 10px */
    height: auto;
    object-fit: cover;
}

/* Media query para pantallas más pequeñas (por ejemplo, tablets) */
@media (max-width: 768px) {
    .ImgHotels img {
        width: calc(50% - px); /* Ajuste para dos imágenes por fila en pantallas más pequeñas */
    }
}

/* Media query para pantallas muy pequeñas (por ejemplo, móviles) */
@media (max-width: 480px) {
    .ImgHotels img {
        width: calc(100% - 10px); /* Una imagen por fila en pantallas muy pequeñas */
    }
}



.star-filled {
    color: gold;
}

.star-empty {
    color: #ccc;
}

.TabPanel {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Text-1,
.Text-2,
.Text-3,
.Text-4 {
    margin-bottom: 10px;
}

.stars-container {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .Text {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Text-1,
    .Text-2,
    .Text-3,
    .Text-4 {
        flex: 1 1 calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .Text {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .Text-1,
    .Text-2,
    .Text-3,
    .Text-4 {
        flex: 1 1 calc(33.33% - 20px);
    }
}